{% extends './base.html' %}

{% block head %}
  <title>Configurações</title>
{% endblock %}

{% block main %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mx-auto px-4 py-6">
      <div class="breadcrumbs text-sm mb-2">
        <ul>
          <li>
            <a href="{% url 'dashboard:medicos' %}">Página Inicial</a>
          </li>
          <li>Configurações</li>
        </ul>
      </div>
      <div class="bg-white rounded-lg shadow p-6">
        <div class="flex items-center gap-4 mb-2">
          {% if view_config.avatar %}
            <img src="{{ view_config.avatar.url }}" alt="Avatar" width="80" style="border-radius: 50%;" />
          {% endif %}
          <div class="flex flex-col gap-0.5">
            {% if view_config.username %}
              <p class="text-2xl">{{ view_config.username }}</p>
            {% endif %}
            <p class="text-sm text-gray-500">Data de Registro: {{ view_config.date_joined }}</p>
          </div>
        </div>
        <div class="container flex flex-col md:flex-row mt-4 gap-4">
          <div class="flex flex-col items-start w-full md:w-1/2 gap-y-2">
            <p class="text-xl font-medium mb-1">Configurações do Perfil</p>
            <label>Email:</label>
            {{ form.email }}
            <label>Nome:</label>
            {{ form.username }}
            <label>Senha:</label>
            {{ form.password }}
            <label>Confirmação de Senha:</label>
            {{ form.password_confirm }}
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-2 mt-6">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button class="btn btn-error"><a href="{% url 'dashboard:medicos' %}">Cancelar</a></button>
      </div>
    </div>
  </form>
{% endblock %}
