{% load django_vite %}
{% load static %}
<!DOCTYPE html>
<html data-theme="healenth" lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="{% static "flowbite/dist/flowbite.min.js" %}"></script>
  <script src="{% static "simple-datatables/dist/umd/simple-datatables.js" %}"></script>
  {% block head %}{% endblock %}
  {% vite_hmr_client %}
  {% vite_asset 'static/css/dashboard.css' %}
</head>
<body>
<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-screen bg-base-100">
    <header class="w-full navbar bg-base-200 shadow-sm px-4">
      <div class="navbar-start">
        <div class="lg:hidden">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </label>
        </div>
        <a href="/" class="btn-ghost text-xl inline-flex mx-1 mt-1">
          <img src="{{ '/media/logo1.webp' }}" alt="Healenth" width="110" />
        </a>
            <div class="hidden flex-none lg:flex">
        <ul class="flex flex-row gap-3 menu-horizontal underline underline-offset-2 decoration-gray-600/40 text-base font-normal uppercase px-2">
          <li><a href="/dashboard/administrador" class="btn-ghost text-gray-800/80 hover:text-gray-400">Inicio</a></li>
          <li><a href="/dashboard/administrador/agendamentos" class="btn-ghost text-gray-800/80 hover:text-gray-400">Agenda</a></li>
          <li><a href="/dashboard/administrador/lista" class="btn-ghost text-gray-800/80 hover:text-gray-400">Lista</a></li>
        </ul>
      </div>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full overflow-hidden bg-gray-100">
              {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="Avatar" />
              {% endif %}
            </div>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box border-1 border-gray-300 z-1 w-52 p-2 shadow">
              <div class="flex flex-col border-b-2 border-gray-200 pb-2 mb-2 ">
                <p class="text-[12px] font-normal indent-2.5">
                  {{ user.username }}
                </p>
                <p class="text-[12px] font-semibold indent-2.5">
                  {{ user.email }}
                </p>
              </div>
              <li>
                <a href="/dashboard/administrador/settings">Página de Admin</a>
              </li>
              <li>
                <a href="/dashboard/administrador/settings">Configurações</a>
              </li>
              <div class="flex flex-col border-t-2 border-gray-200 pt-2 mt-2 ">
                <form method="post" action="{% url 'users:logout' %}"> {% csrf_token %} <li>
                    <button type="submit">Sair</button>
                  </li>
                </form>
          </ul>
        </div>
      </div>
    </header>
    <main class="p-4 flex-grow">
      {% block main %}{% endblock %}
    </main>
  </div>
  <div class="drawer-side lg:hidden">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <aside class="min-h-full w-72 bg-base-200 p-4">
      <ul class="menu space-y-2">
        <li><a href="#">Sidebar Item 1</a></li>
        <li><a href="#">Sidebar Item 2</a></li>
      </ul>
    </aside>
  </div>
</div>
</body>
</html>