{% extends '../base.html' %}
{% load django_vite %}

{% block head %}
  <title>Registrar Adminitrador</title>
{% endblock %}

{% block main %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mx-auto px-4 py-6">
      <div class="breadcrumbs text-sm mb-4">
        <ul>
          <li>
            <a href="{% url 'dashboard:prontuarios_adm' %}">Lista de Usuários</a>
          </li>
          <li>Registrar Administrador</li>
        </ul>
      </div>

      <div class="bg-white rounded-lg shadow p-6">
        <div class="flex items-center gap-4 mb-2">
          <img src="/media/avatars/default.png" alt="Avatar" width="80" class="float-left" style="border-radius: 50%;" fallback-src="/static/avatars/default.png" />
          <div>{{ form.avatar }}</div>
        </div>
        <div class="container flex flex-col md:flex-row mt-4 gap-4">
          <div class="flex flex-col items-start w-full md:w-1/2 gap-y-2">
            <p class="text-xl font-medium mb-1">Informações do Administrador</p>
            <label>Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-error">
                {% for error in form.email.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <label>Nome:</label>
            {{ form.username }}
            {% if form.username.errors %}
              <div class="text-error">
                {% for error in form.username.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <label>Senha:</label>
            {{ form.password }}
            {% if form.password.errors %}
              <div class="text-error">
                {% for error in form.password.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <label>Confirmação de Senha:</label>
            {{ form.password_confirm }}
            {% if form.password_confirm.errors %}
              <div class="text-error">
                {% for error in form.password_confirm.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-4 mt-6">
        <button class="btn btn-neutral" type="submit">Registrar</button>
        <button class="btn btn-error"><a href="{% url 'dashboard:prontuarios_adm' %}">Cancelar</a></button>
      </div>
    </div>
  </form>
{% endblock %}
