div.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

fieldset.ar {
  display: flex;
  flex-direction: column; 
  gap: 20px;    
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.t {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
}

.tt p {
  font-size: 32px;
  font-weight: 700;
  line-height: 1 .2;
  margin: 0;
}

.tt2 img {
  width: 130px;
  height: auto;
  right: 0;
}

.tt3 h4 {
  margin: 0; 
  padding: 0;
  line-height: 1.5;
}

input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: inherit !important;
        transition: background-color 5000s ease-in-out 0s;
        }

    input:focus {
        outline: none;
        }