body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .card {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .form-control {
    font-size: 1rem;
    padding: 0.25rem;
  }
  .btn {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  .password-icon {
    float: right;
    margin-right: 10px;
    margin-top: -34px;
    position: relative;
  }
  .password-icon2 {
    float: right;
    margin-right: 10px;
    margin-top: -136px;
    position: relative;
  }