{% extends './base.html' %}
{% load static %}
{% load django_vite %}

{% block head %}
      <script src="{% static 'js/intl.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock head %}

{% block article %}
  <article>
<body> 
  <div class="flex justify-center items-center h-screen mx-auto">
    <form method="post" class="w-full max-w-md">
      {% csrf_token %}
      <fieldset class="flex flex-col gap-5 mx-auto w-full p-5 border rounded-lg bg-gray-100 border-gray-300">
        <label class="font-medium text-gray-700">Solicitante</label>
        {{ form.solicitanteC }}
        {% if form.solicitanteC.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.solicitanteC.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
          <div class="items-center">

        <label class="flex items-center gap-2 font-medium text-gray-700">
          <svg class="h-5 w-5 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </g>
          </svg>
          Nome
        </label>
        {{ form.nomeC }}
        {% if form.nomeC.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.nomeC.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <br><br>
        <label class="flex items-center gap-2 font-medium text-gray-700">
          <svg class="h-5 w-5 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>
          Email
        </label>
        {{ form.emailC }}
        {% if form.emailC.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.emailC.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <br><br>
        <label class="font-medium text-gray-700">Categoria</label><br>
        {{ form.categoria }}
        {% if form.categoria.errors %}
          <div class="text-red-500 text-sm">
            {% for error in form.categoria.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <br><br>
        <div class="flex flex-col gap-2">
          <label class="font-medium text-gray-700">Assunto</label>
          {{ form.comentarios }}
          {% if form.comentarios.errors %}
            <div class="text-red-500 text-sm">
              {% for error in form.comentarios.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
            </div>
        <button class="mt-4 bg-gray-800 text-white px-4 py-2 rounded-lg hover:bg-gray-900 transition-colors">
          Enviar
        </button>
      </fieldset>
    </form>
  </div>
</body>
  </article>
{% endblock %}
