{% extends 'contato/base.html' %}
{% load static %}
{% load django_vite %}

{% block article %}
  <article>
    <head>
      <script src="{% static 'js/intl.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
      <link rel="stylesheet" href="{% static '/intl-tel-input/build/css/intlTelInput.css' %}" />
      <script src="{% static 'intl-tel-input/build/js/intlTelInputWithUtils.min.js' %}"></script>
      {% vite_asset 'static/css/index.css' %}
    </head>
    <body>
      <div class="cont">
        <form method="post">
          {% csrf_token %}
          <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <label class="label">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </g>
              </svg>Nome
            </label>
            {{ form.nomeC }}
            {% if form.nomeC.errors %}
              <div class="text-error">
                {% for error in form.nomeC.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <label class="label">
              <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                  <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                  <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </g>
              </svg>Email
            </label>
            {{ form.emailC }}
            {% if form.emailC.errors %}
              <div class="text-error">
                {% for error in form.emailC.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}

            <label class="label">Categoria</label>
            {{ form.categoria }}
            {% if form.categoria.errors %}
              <div class="text-error">
                {% for error in form.categoria.errors %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <div class="form-group">
              <label class="label">Assunto</label>
              {{ form.comentarios }}
              {% if form.comentarios.errors %}
                <div class="text-error">
                  {% for error in form.comentarios.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <button class="btn btn-neutral mt-4">Enviar</button>
          </fieldset>
        </form>
      </div>
    </body>
  </article>
{% endblock %}
