{% extends "base.html" %}  
{% load static %}
{% load django_vite %}

{% block article %}
    <article>
          <div class="container mx-auto max-w-screen flex">
      <div class="container mx-auto flex flex-col justify-between p-6">
        <h1 class="text-5xl font-bold text-left mt-10 mb-8">Perguntas Frequentes</h1>
        <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border">
          <div class="collapse-title font-semibold">Quais são os benefícios da agenda?</div>
          <div class="collapse-content text-sm">A agenda oferece um controle total sobre o tempo e as tarefas. Você pode visualizar a semana ou o mês inteiro, o que ajuda a identificar períodos com mais tempo livre ou os que estão sobrecarregados. Isso permite realocar tarefas e compromissos, garantindo que o seu tempo seja utilizado da melhor forma possível e que nenhum compromisso importante seja esquecido.</div>
        </div>

        <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border mt-2">
          <div class="collapse-title font-semibold">Como faço para agendar uma consulta?</div>
          <div class="collapse-content text-sm">Você pode agendar sua consulta diretamente pelo nosso site, clicando no botão "Agendar Online". Basta escolher o profissional, o melhor dia e horário, e preencher seus dados. É rápido, fácil e seguro.</div>
        </div>

        <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border mt-2">
          <div class="collapse-title font-semibold">As consultas online são seguras?</div>
          <div class="collapse-content text-sm">Sim, nossas consultas online são realizadas em uma plataforma segura e criptografada, garantindo a confidencialidade e a privacidade de todas as suas informações e do nosso atendimento.</div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
  </body>
</html>