{% load django_vite %}
{% load static %}
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healenth</title>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    {% vite_hmr_client %}

    {% vite_asset 'static/css/index.css' %}
  </head>
  <body>
    <form method="post">
      {% csrf_token %} <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Login</legend>
        <label class="label mt-2">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>Senha
        </label>
        <input type="password" name="new_password1" class="input" required="" id="id_new_password1" placeholder="Digite sua Nova Senha" />
        <label class="label mt-2">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <rect width="20" height="16" x="2" y="4" rx="2"></rect>
              <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
            </g>
          </svg>Confirme a Senha
        </label>
        <input type="password" name="new_password2" class="input" required="" id="id_new_password2" placeholder="Confirme sua Nova Senha" />
        {% if form.non_field_errors %}
          <div class="text-error">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-neutral mt-4">Enviar</button>
      </fieldset>
    </form>
  </body>
</html>
