{% extends "base.html" %}  

{% block article %}
    <article>
      <div class="container mx-auto flex items-center justify-between p-6">
        <div class="text-left w-1/2">
          <h1 class="text-5xl font-bold text-left mt-10">Sua saúde, nossa prioridade.</h1>
          <br>
          <p class="text-left mt-4 text-lg">A agenda médica do Healenth permite uma organização <br> mais eficiente dos atendimentos em sua clínica ou consultório, <br> otimizando os horários, automatizando consultas com os pacientes <br> e até mesmo definindo uma fila de espera. </p>
          <br>
          <a href="/users/login" class="btn btn-primary">Agendar Consulta</a>
        </div>
        <div class="w-1/2">
          <img src="{{'media/default.jpg'}}" alt="Pet" class="w-full h-auto rounded-lg shadow-lg">
        </div>
      </div>
      <br>
      <div class="container mx-auto max-w-screen bg-gray-200/30 flex">
        <div class="container mx-auto flex flex-col justify-between p-6">
          <h1 class="text-5xl font-bold text-left mt-10 mb-8">Nossos Recursos</h1>
          <br>
          <div class="flex gap-x-2 justify-center">
  <div class="card w-full bg-base-200 card-md shadow-sm">
              <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
</svg>

                <h2 class="card-title">Agendamento Online</h2>
                <p>Agende consultas de forma rápida e fácil, sem complicações.</p>
              </div>
            </div>
             <div class="card w-full bg-base-200 card-md shadow-sm">
              <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
</svg>

                <h2 class="card-title">Gerenciamento de Pacientes</h2>
                <p>Centralize todo o histórico dos seus pacientes em um só lugar. Tenha acesso rápido a prontuários, exames e tratamentos, garantindo um atendimento mais preciso e personalizado.</p>
              </div>
            </div>
             <div class="card w-full bg-base-200 card-md shadow-sm">
              <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>

                <h2 class="card-title">Gestão da Clínica</h2>
                <p>Otimize a administração da sua clínica. Gerencie agendamentos, finanças, estoque e prontuários em uma única plataforma, garantindo mais eficiência e controle total do seu negócio.</p>
              </div>
            </div>
            
          </div>
          
          </div>
          
        </div>
        <div class="container mx-auto max-w-screen flex">

        <div class="container mx-auto flex flex-col justify-between p-6">
          <h1 class="text-5xl font-bold text-left mt-10 mb-8">Perguntas Frequentes</h1>
        <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border">
  <div class="collapse-title font-semibold">Quais são os benefícios da agenda?</div>
  <div class="collapse-content text-sm">
    A agenda oferece um controle total sobre o tempo e as tarefas. Você pode visualizar a semana ou o mês inteiro, o que ajuda a identificar períodos com mais tempo livre ou os que estão sobrecarregados. Isso permite realocar tarefas e compromissos, garantindo que o seu tempo seja utilizado da melhor forma possível e que nenhum compromisso importante seja esquecido.
  </div>
</div>

        <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border mt-2">
  <div class="collapse-title font-semibold">Como faço para agendar uma consulta?</div>
  <div class="collapse-content text-sm">
   Você pode agendar sua consulta diretamente pelo nosso site, clicando no botão "Agendar Online". Basta escolher o profissional, o melhor dia e horário, e preencher seus dados. É rápido, fácil e seguro.
  </div>
</div>

<div tabindex="0" class="collapse collapse-arrow bg-base-100 border-base-300 border mt-2">
  <div class="collapse-title font-semibold">As consultas online são seguras?
</div>
  <div class="collapse-content text-sm">
   Sim, nossas consultas online são realizadas em uma plataforma segura e criptografada, garantindo a confidencialidade e a privacidade de todas as suas informações e do nosso atendimento.
  </div>
</div>

    </div>
  </article>
{% endblock %}
  </body>
</html>