{% extends "base.html" %}  
{% load static %}
{% load django_vite %}

      {% block head %}
    <script src="{% static 'js/intl.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head %}

{% block article %}
    <article>

  <body class="leading-1.6">

    <form method="post"> 
<div class="text-balance">
  <div class="p-7">
    <div class="m-auto p-2 flex flex-col min-h-screen w-300">
        <header class="pb-1.5 border-b text-center mb-2.5">
            <h1 class="mb-1 font-bold text-4xl text-sky-700">TERMOS DE USO - Healenth</h1>
        </header>
        
        <main class="bg-white rounded-8 p-2 flex-1 shadow-md">
            <div class="text-balance">
                <div class="flex flex-col m-auto max-w-1000">
                <section>
                    <p class="mb-1.5 text-justify">
                        Bem-vindo(a) aos Termos de Uso da plataforma Healenth.
                    </p>
                    
                    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4">
                        <p>
                            AO ACESSAR, NAVEGAR, REGISTRAR-SE OU UTILIZAR NOSSA PLATAFORMA, VOCÊ DECLARA QUE LEU, COMPREENDEU E CONCORDA EXPRESSAMENTE COM ESTES TERMOS DE USO,
                            QUE POSSUEM NATUREZA OBRIGATÓRIA E VINCULANTE. SE VOCÊ NÃO CONCORDAR COM QUALQUER DISPOSIÇÃO DESTE DOCUMENTO, VOCÊ NÃO DEVE E NÃO ESTÁ AUTORIZADO(A) A UTILIZAR NOSSOS SERVIÇOS.
                        </p>
                    </div>
                </section>
                
                <h2 class="text-3xl text-sky-800 pb-0.5 border-b-2 border-sky-300 mb-2 mt-3 border-solid">Definições e Direitos</h2>
                <p class="mb-1.5 text-justify">
                    Todo o conteúdo presente na Plataforma (logos, marcas, software, layout, textos, gráficos) é de propriedade nossa ou de nossos licenciadores e está protegido por leis de propriedade intelectual. É expressamente vedada a sua cópia, modificação, distribuição ou uso comercial sem autorização prévia por escrito.
                </p>
                
                <h2 class="text-3xl text-sky-800 pb-0.5 border-b-2 border-sky-300 mb-2 mt-3 border-solid">Procedimentos</h2>
                <p class="mb-1.5 text-justify">
                    Para utilizar as funcionalidades de agendamento, o Usuário deverá criar uma conta fornecendo informações completas, accuratas e verdadeiras, como nome, e-mail, telefone e data de nascimento.
                    O Usuário é o único e exclusivo responsável por manter a confidencialidade de sua senha e por toda e qualquer atividade que ocorra em sua conta.
                    É vedado o cadastro por menores de 18 anos. O agendamento para menores deve ser realizado por seu responsável legal.
                </p>
                
                <h2 class="text-3xl text-sky-800 pb-0.5 border-b-2 border-sky-300 mb-2 mt-3 border-solid">Telemedicina</h2>
                <p class="mb-1.5 text-justify">
                    Usuário/Paciente: Pessoa física que acessa a Plataforma para buscar profissionais de saúde e agendar consultas.
                    Profissional de Saúde/Clínica/Estabelecimento: Pessoa física ou jurídica, devidamente registrada em seu conselho de classe, que utiliza a Plataforma para disponibilizar seus serviços e gerenciar sua agenda.
                    Serviço: Refere-se à funcionalidade de intermediação de agendamento de consultas e demais ferramentas oferecidas pela Plataforma.
                </p>
                
                <h2 class="text-3xl text-sky-800 pb-0.5 border-b-2 border-sky-300 mb-2 mt-3 border-solid">Vacinas</h2>
                <p class="mb-1.5 text-justify">
                    Todo o conteúdo presente na Plataforma (logos, marcas, software, layout, textos, gráficos) é de propriedade nossa ou de nossos licenciadores e está protegido por leis de propriedade intelectual. É expressamente vedada a sua cópia, modificação, distribuição ou uso comercial sem autorização prévia por escrito.
                </p>
            </div>
            


    </div>
  </div>

  </article>
{% endblock %}
  </body>
</html>